/* General classes and elemets */
.flex {
    display: flex;
}

h2 {
    font-size: 1.75rem;
}


/* Side bar options */

#side-bar {
    width: 20vw;
    height: 100vh;
    display: fixed;
}

.sb-option {
padding: 0.8rem;
}

#sb-name {
    background-color: black;
    color: white;
}


/* Main content */

#main-content {
    width: 80vw;
    padding: 1rem 2rem;
}


